@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Alexandria", serif;
}

main{
  height: 100vh;
  background-color: aquamarine;
  margin: auto;
}

main img{
  height: 500px;
  border-radius: 0 50px 0 50px;
  margin-left: 0px;
  margin-top: 30px;
}

.hero-title{
  font-size: 60px;
  font-weight: 500;
}

.hero-title span{
  color: #FF8383;
}

.hero-text{
  padding-top: 20px;
}

.pro-btn{
  background-color: #FF8383;
}

.pro-title , .work-title{
  font-size:30px ;
  text-align: center;
}

main a{
  display: inline-block;
  background-color: #FF8383;
  border-right:5px solid #FBF771;
  padding: 10px 16px;
  margin: 20px !important;
}
.whatsUp-btn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  z-index: 10;
  animation: fill 2s infinite ease-in-out;
  position: fixed;
  left: 8%;
  bottom: 8%;
  border: 1.5px solid #4CD742;
  padding: 2px;
}
@keyframes fill {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.0);
  }
}


/* Meeting Button*/

.meet{
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 190px;
  height: 50px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
}

.meet div {
  transform: translateY(0px);
  width: 100%;
}

.meet,
.meet div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
}
.meet div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
}

.meet div:nth-child(1) {
  background-color: #FF8383;
}
.meet div:nth-child(2) {
  background-color: #1e90ff;
}

.meet:hover {
  box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
}

.meet:hover div {
  transform: translateY(-50px);
}
.meet p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.meet :active {
  transform: scale(0.95);
}