/* Header Style */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

header {
  background-color: rgb(255, 133, 133);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 60px;
  width: 90%;
  border-radius: 20px;
  margin-top: 15px;
  position: fixed;
  top: 23px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  color: antiquewhite;
  padding: 10px;
}

.logo {
  width: 60px;
}


#btn-menu {
  font-size: 2em;
  color: #cae9ae;
  display: none;
}

#check {
  display: none;
}

@media (max-width:768px) {
  header nav {
    position: fixed;
    top: 95px;
    right: -360px;
    width: 360px;
    transition: 0.5s;
    overflow: hidden;
    background-color: #1d1d1d;
    height: 40vh;
    border-radius: 16px;
  }

  .active {
    right: 0;
  }

  header nav a {
    display: block;
    margin: 8px 5px;
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    border-radius: 15px;
    padding: 8px 0;
    justify-content: space-around;
  }

  #btn-menu {
    display: block;
  }
}